setproctitle==1.3.3
pandas==2.0.3
wandb==0.18.1
munch==4.0.0
executing==2.1.0
propcache==0.2.0
matplotlib-inline==0.1.7
torch-geometric==2.6.1
gitdb==4.0.11
six==1.16.0
scipy==1.13.1
exceptiongroup==1.2.2
mpmath==1.3.0
debugpy==1.8.7
pycparser==2.22
torch_scatter==2.1.2
datatable==0.11.1+build.1608726375.conda
PySide6==6.8.0
comm==0.2.2
wheel==0.44.0
cffi==1.17.1
filelock==3.16.1
webencodings==0.5.1
charset-normalizer==3.4.0
bleach==6.1.0
yarl==1.14.0
kaggle==1.6.17
unicodedata2==15.1.0
click==8.1.7
gmpy2==2.1.5
python-slugify==8.0.4
smmap==5.0.0
jupyter_core==5.7.2
pexpect==4.9.0
importlib_resources==6.4.5
scikit-learn==1.3.0
aiohttp==3.10.10
hpack==4.0.0
importlib_metadata==8.5.0
tornado==6.4.1
aiosignal==1.3.1
attrs==24.2.0
Jinja2==3.1.4
PyYAML==6.0.2
widgetsnbextension==4.0.13
tzdata==2024.2
idna==3.10
Brotli==1.1.0
requests==2.32.3
lz4==4.3.3
fsspec==2024.9.0
networkx==3.2.1
PySocks==1.7.1
prompt_toolkit==3.0.48
Pygments==2.18.0
zstandard==0.23.0
multidict==6.1.0
threadpoolctl==3.5.0
appdirs==1.4.4
colorama==0.4.6
h2==4.1.0
urllib3==2.2.3
frozenlist==1.4.1
pytz==2024.2
nest_asyncio==1.6.0
MarkupSafe==3.0.1
ipykernel==6.29.5
decorator==5.1.1
contourpy==1.3.0
traitlets==5.14.3
jupyterlab_widgets==3.0.13
wcwidth==0.2.13
ipython==8.18.1
joblib==1.4.2
kiwisolver==1.4.7
hyperframe==6.0.1
sentry-sdk==2.16.0
tabulate==0.9.0
munkres==1.1.4
asttokens==2.4.1
python-dateutil==2.9.0
numpy==1.26.4
setuptools==75.1.0
async-timeout==4.0.3
tqdm==4.66.5
docker-pycreds==0.4.0
cycler==0.12.1
platformdirs==4.3.6
pillow==10.4.0
GitPython==3.1.43
packaging==24.1
protobuf==4.25.3
pickleshare==0.7.5
pip==24.2
torch==2.4.1
pyparsing==3.1.4
zipp==3.20.2
torchvision==0.19.1
shiboken6==6.8.0
psutil==6.0.0
ipywidgets==8.1.5
certifi==2024.8.30
parso==0.8.4
sympy==1.13.3
typing_extensions==4.12.2
triton==3.0.0
jupyter_client==8.6.3
stack-data==0.6.2
ptyprocess==0.7.0
jedi==0.19.1
text-unidecode==1.3
fonttools==4.54.1
matplotlib==3.9.2
pyzmq==26.2.0
aiohappyeyeballs==2.4.3
pure_eval==0.2.3
torch_sparse==0.6.18
importlib_metadata==8.0.0
jaraco.functools==4.0.1
importlib_resources==6.4.0
typeguard==4.3.0
jaraco.text==3.12.1
jaraco.context==5.3.0
tomli==2.0.1
zipp==3.19.2
backports.tarfile==1.2.0
packaging==24.1
jaraco.collections==5.1.0
wheel==0.43.0
more-itertools==10.3.0
inflect==7.3.1
platformdirs==4.2.2
typing_extensions==4.12.2
autocommand==2.2.2
